.center {
    display: flex;
    justify-content: center;
    }

.center1{
    display: flex;
    justify-content: center;
    padding: 5%;

}
.background{
    background-color: whitesmoke;
}
.title{
    font-weight: bold;
    font-size: larger;
}