.mapEl {
  align-items: center;
  padding: 0;
  margin-top: 15px;
  margin-left: 8vh;
  height: 75%;
  width: 100%;
}

.esri-view .esri-view-surface--inset-outline:focus::after {
  outline: none !important;
}

.legend {
  position: absolute;
  right: 15px;
  
}

.legend {
  bottom: 30px;
}
